
    <div class="container">

      <div class="login_form">
          <h2 class="title">Welcome Back</h2>
          <h6 class="description">
            Please enter your details.
          </h6>
        <!--<form  class="form" [formGroup]="loginForm" (ngSubmit)="onsubmit()">

            <span class="input_heading">Email</span>
            <input class="form__input" type="text" id="email" formControlName="email" placeholder="Enter Username">
            
            <span *ngIf="formSubmitted && loginForm.get('email').hasError('required')">
              * Email Address is required
           </span>
           
          

            <span class="input_heading">Password</span>
            <input class="form__input" type="password" formControlName="password" placeholder="Enter Password">
            <span *ngIf="formSubmitted && loginForm.get('password').hasError('required')">
              * Password  is required
           </span>
           
            <div>
            <a class="form__link">Forgot your password?</a>

            </div>
            <input type="submit" value="SIGN IN"  class="btn"/>


        </form>-->

        <form  class="form" [formGroup]="loginForm" (ngSubmit)="onsubmit()">

          <span class="input_heading">Email</span>
          <input class="form__input" type="text" id="email" formControlName="email" placeholder="Enter Username" required>
          
          <div *ngIf="formSubmitted && loginForm.get('email').hasError('required')">
              <span style="color:red">*Email address can't  empty</span>

              
        </div>
         
        

          <span class="input_heading">Password</span>
          <input class="form__input" type="password" id="password" formControlName="password" placeholder="Enter Password">
          <div *ngIf="formSubmitted && loginForm.get('password').hasError('required')">
            <span style="color:red"> *Password can't  empty</span>

            
        </div>
         
          <div>
          <a class="form__link">Forgot your password?</a>

          </div>
          <input type="submit" value="SIGN IN"  class="btn"/>


      </form>

    </div>



    </div>

