<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Hospital Tour</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li><a routerLink="/admin/home">Dashboard</a></li>

                    
                    
                    <li><i class='bx bx-chevron-right'></i></li>


                    <li class="breadcrumb-item">Hospital Tour</li>
                </ol>
            </div>
        </div>
        </div>
</div>


<div class="container card">
    <form action="">
        <h6>Hospital Photos and Videos</h6>
        <div class="row">
            <div class="col-md-6">
                <label for="">Hospital Photos</label>
                <input type="file" class="form-control" multiple>
            </div>
            <div class="col-md-6">
                <label for="">Hospital Videos</label>
                <input type="file" class="form-control" multiple>
            </div>
           
        </div>
        <h6>Highlightts</h6>
        <button class="btn btn-primary">Add Highlights</button>

        <div class="row">
        
            <div class="highlights">
                <img src="assets/images/us_flag.jpg" alt="">
                <div class="highlight-action">
                    <div class="highlight-title">Radiodiagnostic</div>
                   <button class="remove"> Remove</button>
                  
                </div>
            </div>
            <div class="highlights">
                <img src="assets/images/us_flag.jpg" alt="">
                <div class="highlight-action">
                    <div class="highlight-title">Radiodiagnostic</div>
                   <button class="remove"> Remove</button>
                  
                </div>
            </div><div class="highlights">
                <img src="assets/images/us_flag.jpg" alt="">
                <div class="highlight-action">
                    <div class="highlight-title">Radiodiagnostic</div>
                   <button class="remove"> Remove</button>
                  
                </div>
            </div><div class="highlights">
                <img src="assets/images/us_flag.jpg" alt="">
                <div class="highlight-action">
                    <div class="highlight-title">Radiodiagnostic</div>
                   <button class="remove"> Remove</button>
                  
                </div>
            </div>
            <div class="highlights">
                <img src="assets/images/us_flag.jpg" alt="">
                <div class="highlight-action">
                    <div class="highlight-title">Radiodiagnostic</div>
                   <button class="remove"> Remove</button>
                  
                </div>
            </div>
        
      
        
        </div>

        <h6>Speciality</h6>
        <button class="btn btn-primary">Add Speciality</button>
        <div class="row">
        
            <div class="highlights">
                <img src="assets/images/spain_flag.jpg" alt="">
                <div class="highlight-action">
                    <div class="highlight-title">Radiodiagnostic</div>
                   <button class="remove"> Remove</button>
                  
                </div>
            </div>
            <div class="highlights">
                <img src="assets/images/spain_flag.jpg" alt="">
                <div class="highlight-action">
                    <div class="highlight-title">Radiodiagnostic</div>
                   <button class="remove"> Remove</button>
                  
                </div>
            </div>
            <div class="highlights">
                <img src="assets/images/spain_flag.jpg" alt="">
                <div class="highlight-action">
                    <div class="highlight-title">Radiodiagnostic</div>
                   <button class="remove"> Remove</button>
                  
                </div>
            </div>
            <div class="highlights">
                <img src="assets/images/spain_flag.jpg" alt="">
                <div class="highlight-action">
                    <div class="highlight-title">Radiodiagnostic</div>
                   <button class="remove"> Remove</button>
                  
                </div>
            </div>
            <div class="highlights">
                <img src="assets/images/spain_flag.jpg" alt="">
                <div class="highlight-action">
                    <div class="highlight-title">Radiodiagnostic</div>
                   <button class="remove"> Remove</button>
                  
                </div>
            </div>
        </div>
        <h6>Hospital Information</h6>
        <div class="row">
            <div class="col-md-4">
                <label for="">No. of Speciality</label>
                <input type="number" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="">No. of Beds</label>
                <input type="number" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="">No. of OT</label>
                <input type="number" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="">Daily</label>
                <input type="number" class="form-control">
            </div>
        </div>
        <div class="submit_form">
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </div>
    </form>

   
</div>