<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Category</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li><a routerLink="/dashboard">Dashboard</a></li>


                    <li><i class='bx bx-chevron-right'></i></li>
                    <li class="breadcrumb-item">Category</li>
                </ol>
            </div>

        </div>

        </div>
</div>


    <div class="row">
        <button class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add Category</button>

        <!-- Add Model-->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form [formGroup]="categorypost" (ngSubmit)="CategoryPost()">
                <div class="modal-body">
                  <label>Category Title</label>
                  <input type="text" class="form-control" formControlName="title">
                  <label>Category Title</label>
                  <input type="file" class="form-control" (change)="uploadimage($event)">
                  <label>Description</label>
                  <textarea name="" id="" cols="30" rows="2" class="form-control" formControlName="about">

                  </textarea>
                  <label>Status</label>
                  <select class="form-control" formControlName="status">
                      <option value="true" >Active</option>
                      <option value="false" >Inactive</option>

                  </select>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit"   class="btn btn-primary" value="Create category"/>
                </div>
                </form>
              </div>
            </div>
        </div>
        <!--Add Model Over-->

        <div class="col-xl-12">


            <div class="card m-b-30 m-t-30">
                <div class="card-body">
                    <h4 class="mt-0 header-title mb-4"> {{category.length}} Categories</h4>
                    <div class="table-responsive ">
                        <table class="table table-hover advanced-web-table">
                            <thead>
                                <tr>
                                  <th scope="col">Sl No.</th>

                                  <th scope="col">Id</th>
                                    <th scope="col">Title</th>

                                    <th scope="col">Description</th>
                                    <th scope="col">Job Count</th>

                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cat of category | paginate : { id: 'foo',
                                itemsPerPage: pageSize,
                                currentPage: currentPage,
                                totalItems: category.length};let i=index">
                                    <td class="dtr-control">{{(currentPage - 1) * pageSize + i + 1}}</td>
                                    <td>{{cat.id}}</td>
                                    <td>{{cat.title}}</td>
                                    <td>{{cat.about}}</td>
                                    <td>{{cat.available_jobs}}</td>

                                    <td *ngIf="cat.category_status===true ; else elsBlock"><span class="badge badge-success" >Active</span></td>
                                    <ng-template #elsBlock> <span class="badge badge-danger" >Inactive</span></ng-template>

                                    <td>


                                       <a  class="action-btn" (click)="editcategory(cat.id)" data-toggle="modal" data-target="#editModal" >
                                        <i class='bx bx-edit'></i>
                                       </a>



                                       <a  class="action-btn" (click)="categorydelete(cat.id)" data-toggle="modal" data-target="#deleteModal">
                                        <i class='bx bx-trash text-danger'></i>
                                       </a>



                                        <div>



                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <pagination-controls  id="foo" (pageChange)="currentPage = $event"></pagination-controls>
                    </div>
                </div>

            </div>

            <!-- Edit Model-->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                <!--  <form >
                      <div class="modal-body">
                      <label>Category Title</label>
                      <input type="text" class="form-control" name="title" [(ngModle)]="{{singlecategory.title}}" value="">
                      <label>Category image</label>
                      <input type="file" class="form-control" (change)="uploadimage($event)" name="image">
                      <label>Description</label>
                      <textarea  cols="30" rows="2" name="about" [(ngModle)]="{{singlecategory.title}}"  class="form-control" >

                      </textarea>
                      <label>Status</label>
                      <select class="form-control" name="status" [(ngModle)]="{{singlecategory.title}}">
                          <option  value="true" >Active</option>
                          <option value="false" >Inactive</option>

                      </select>
                      </div>
                      <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <input type="submit"  class="btn btn-primary" value="Update Category"/>
                      </div>
                  </form>-->
              </div>
              </div>
          </div>
           <!--Edit Model Over-->

           <!--DELETE MODELS START-->
           <div id="deleteModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
              <div class="modal-content">
                  <div class="modal-header flex-column">
                      <div class="icon-box">
                          <i class="bx bx-trash"></i>
                      </div>
                      <h4 class="modal-title w-100">Are you sure?</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  </div>
                  <div class="modal-body">
                      <p>Do you really want to delete these records? This process cannot be undone.</p>
                  </div>
                  <div class="modal-footer justify-content-center">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
                  </div>
              </div>
            </div>


          </div>

            <nav aria-label="Page navigation example">

              <div class="my-2 text-right">
                <!-- <pagination-controls></pagination-controls> -->
            </div>

              </nav>

        </div>

    </div>






