<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Edit Job</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li><a routerLink="/dashboard">Dashboard</a></li>

                    
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li><a routerLink="/jobs/all-jobs">All Jobs</a></li>
                    <li><i class='bx bx-chevron-right'></i></li>


                    <li class="breadcrumb-item">Edit Job</li>
                </ol>
            </div>
        </div>
        </div>
</div>


<div class="container card" >
    
    <form>
        <h6>Hospital Details</h6>
        <div class="row">
            <div class="col-md-4">
            <label for="Name">Hospital Name</label>
            <input type="text"  class="form-control">
            </div>
          
            <div class="col-md-4">
                <label for="">Hospital Type</label>
                <select name="" class="form-control">
                    <option value="">Option 1</option>
                    <option value="">Option 2</option>
                    <option value="">Option 3</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="">Designation</label>
                <select name="" class="form-control">
                    <option value="">Option 1</option>
                    <option value="">Option 2</option>
                    <option value="">Option 3</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="">Department</label>
                <select name="" class="form-control">
                    <option value="">Option 1</option>
                    <option value="">Option 2</option>
                    <option value="">Option 3</option>
                </select>
            </div>
           
            <div class="col-md-4">
            <label for="formFileMultiple" class="form-label">Hospital Photo</label>
            <input class="form-control" type="file" multiple>
                      
            </div>
            <div class="col-md-4">
                <label for="">District</label>
                <input type="text"  class="form-control">
                </div>
           
        </div>
        <div class="row">
            <div class="col-md-4">
            <label for="city">City</label>
            <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
            <label for="">State</label>
            <input type="text" class="form-control">
            </div>
           
        </div>
        <h6>Basic Details</h6>

        <div class="row">
            <div class="col-md-4">
            <label for="">Roles and Responsibilities</label>
            <input type="text"  class="form-control">

            

            </div>
            <div class="col-md-4">
            <label for="">Working Days </label>
            <input type="text"  class="form-control">

            </div>

            <div class="col-md-4">
            <label for="">Working Hours</label>
            <input type="text"  class="form-control">

            </div>


        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="">Job Type</label>
                <select name="" class="form-control">
                    <option value="">Option 1</option>
                    <option value="">Option 2</option>
                    <option value="">Option 3</option>
                </select>
            </div>
           
            <div class="col-md-4">
                <label for="">Accomodation</label>
                <select name="" class="form-control">
                    <option value="">Option 1</option>
                    <option value="">Option 2</option>
                    <option value="">Option 3</option>
                </select>
            </div>

            <div class="col-md-4">
            <label for="">Salary</label>
            <input type="text"  class="form-control">

            </div>


        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="">Salary Duration</label>
                <input type="text"  class="form-control">
    
            </div>
                <div class="col-md-4">
                    <label for="">Vacancy</label>
                    <input type="text"  class="form-control">
        
                 </div>
        
    
        </div>
        <h6>Additional Details</h6>
        <div class="row">
            <div class="col-md-4">
                <label for="">Total Beds</label>
                <input type="text"  class="form-control">
            </div>
            <div class="col-md-4">
                <label for="">ICU </label>
                <input type="text"  class="form-control">
            </div>
            <div class="col-md-4">
                <label for="">NICUC </label>
                <input type="text"  class="form-control">
            </div>
            <div class="col-md-4">
                <label for="">PICU </label>
                <input type="text"  class="form-control">
            </div>
            <div class="col-md-4">
                <label for=""> HR Contact</label>
                <input type="text"  class="form-control">
            </div>
            <div class="col-md-4">
                <label for="">Social Contact </label>
                <input type="text"  class="form-control">
            </div>
        </div>

       
       

        

        
        <div class="submit_form">
            <button class="btn btn-primary">Submit</button>
        </div>

      </form>
</div>