<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <a class="btn btn-primary" routerLink="/">Edit</a>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li><a routerLink="/admin/dashboard">Dashboard</a></li>
                    <li><i class='bx bx-chevron-right'></i></li>

                    <li class="breadcrumb-item">
                       Hospital Details</li>
                </ol>
            </div>
        </div>
        </div>
</div>


<div class="container">
    <div class="row">

        <div class="col-lg-6">
          <div class="card shadow-sm">
              
            <div class="card-body pt-0">
              <table class="table table-bordered">
                
                <tr>
                  <th width="40%">Hospital Name</th>
                  <td width="2%">:</td>
                  <td>hosptial_name</td>
                </tr>

                <tr>
                  <th width="30%">Hospital Type</th>
                  <td width="2%">:</td>
                  <td>job.hospital_type</td>
                </tr>
                <tr>
                  <th width="40%" >No. of Speciality</th>
                  <td width="2%">:</td>
                  <td></td>
                </tr>
                <tr>
                  <th width="30%">No. of Beds</th>
                  <td width="2%">:</td>
                  <td></td>
                </tr>
                
                <tr>
                  <th width="30%">No. of OPD Patients</th>
                  <td width="2%">:</td>
                  <td></td>
                </tr>

                <tr>
                    <th width="30%">No of OT</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>
              </table>
            </div>
          </div>
         
         
          
         
          </div>
          <div class="col-lg-6">
            <div class="card shadow-sm">
              <div class="card-body pt-0">
                  <table class="table table-bordered">
              <tr>
                  <th width="30%">ICU</th>
                  <td width="2%">:</td>
                  <td></td>
              </tr>
              <tr>
                  <th width="30%">NICUC</th>
                  <td width="2%">:</td>
                  <td></td>
              </tr>
              <tr>
                  <th width="30%">PICU</th>
                  <td width="2%">:</td>
                  <td></td>
              </tr>
              <tr>
                  <th width="30%">State</th>
                  <td width="2%">:</td>
                  <td></td>
              </tr><tr>
                  <th width="30%">City</th>
                  <td width="2%">:</td>
                  <td></td>
              </tr><tr>
                  <th width="30%">Location</th>
                  <td width="2%">:</td>
                  <td></td>
              </tr>
              </table>
              </div>
            </div>
        </div>
        
          </div>
        
</div>
<div class="container">
    <div class="card">
        <h6>Hospital Photos and Videos</h6>
        
         <div class="highlights">
            <img src="" alt="">
            <div class="highlight-action">   
               <button class="remove" routerLink=""> Remove</button>
            </div>
        </div>
    </div>
    <div class="card">
        <h6>Hospital Highlights</h6>
        
         <div class="highlights">
            <img src="" alt="">
            <div class="highlight-action">   
               <button class="remove" routerLink=""> Remove</button>
            </div>
        </div>
    </div>
    <div class="card">
        <h6>Hospital Speciality</h6>
        
         <div class="highlights">
            <img src="" alt="">
            <div class="highlight-action">   
               <button class="remove" routerLink=""> Remove</button>
            </div>
        </div>
    </div>
 </div>