<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Hospital Details</h4>
                <a class="btn btn-primary" routerLink="/">Edit</a>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li><a routerLink="/admin/dashboard">Dashboard</a></li>
                    <li><i class='bx bx-chevron-right'></i></li>

                    <li class="breadcrumb-item">
                       Hospital Details</li>
                </ol>
            </div>
        </div>
        </div>
</div>


<div class="container">
    <div class="row">

        <div class="col-lg-6">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0 row">
              <div class="col-lg-6">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Hospital Details</h3>

              </div>
              <div class="col-lg-6">
              <a href="" class="btn btn-success float-right">View Hospital</a>

              </div>
            </div>
            <div class="card-body pt-0">
              <table class="table table-bordered">
                
                <tr>
                  <th width="40%">Hospital Name</th>
                  <td width="2%">:</td>
                  <td>job.hosptial_name</td>
                </tr>

                <tr>
                  <th width="30%">Hospital Type</th>
                  <td width="2%">:</td>
                  <td>job.hospital_type</td>
                </tr>
                <tr>
                  <th width="40%" class="text-primary">Category</th>
                  <td width="2%">:</td>
                  <td>job.category</td>
                </tr>
                <tr>
                  <th width="30%" class="text-primary">Designation</th>
                  <td width="2%">:</td>
                  <td>job.designation</td>
                </tr>
                
                <tr>
                  <th width="30%"class="text-primary">Department/Speciality</th>
                  <td width="2%">:</td>
                  <td>job.Speciality</td>
                </tr>

                <tr>
                    <th width="30%">District/City</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>


                <tr>
                    <th width="30%">State</th>
                    <td width="2%">:</td>
                    <td></td>
                </tr>

              </table>
            </div>
          </div>
         
          
         
          </div>
        
          </div>
</div>