<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Add Job</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li><a routerLink="/admin/home">Dashboard</a></li>

                    
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li><a routerLink="/admin/jobs/all-jobs">All Jobs</a></li>
                    <li><i class='bx bx-chevron-right'></i></li>


                    <li class="breadcrumb-item">Add Job</li>
                </ol>
            </div>
        </div>
        </div>
</div>


<div class="container card" >
    
    
    <form [formGroup]="jobform" (ngSubmit)="AddJobs()">
        <h6>Hospital Details</h6>




        <div class="row">
            <div class="col-md-4">
                <label for="">Category / Blong To</label>
                <select  class="form-control" formControlName="category" (click)="categoryName($event)">
                    <option value="{{category.title}}"  *ngFor="let category of categories" >{{category.title}}</option>
                    
                </select>
                <div *ngIf="formSubmitted && jobform.get('category').hasError('required')">
                    <span style="color:red">*category field required</span>   
                </div>
            </div>



            <div class="col-md-4">
                <label for="">Speciality/Department</label>
                <select  class="form-control" formControlName="depatment">
                    <option value="{{dep.department}}" *ngFor="let dep of departments">{{dep.department}}</option>
                </select>
                <div *ngIf="formSubmitted && jobform.get('depatment').hasError('required')">
                    <span style="color:red">*Speciality/Department field required</span>   
                </div>
            </div>
           
            <div class="col-md-4">
                <label for="">Designation</label>
                <select  class="form-control" id="designation" formControlName="designation">
                    
                    <option value="{{dis.designation}}" *ngFor="let dis of designations">{{dis.designation}}</option>
                </select>

                <div *ngIf="formSubmitted && jobform.get('designation').hasError('required')">
                    <span style="color:red">*Designation field required</span>   
                </div>
            </div>
            <div class="col-md-4">
            <label for="">Roles and Responsibilities</label>
            <input type="text"  class="form-control" id="discription" formControlName="discription" placeholder="About jobs">
            <div *ngIf="formSubmitted && jobform.get('discription').hasError('required')">
                <span style="color:red">*Roles and Responsibilities required</span>   
            </div>
            

            </div>
            <div class="col-md-4">
            <label for="">Working Days </label>
            <input type="text"  class="form-control" id="days" formControlName="days" placeholder="Working days">
            <div *ngIf="formSubmitted && jobform.get('days').hasError('required')">
                <span style="color:red">* Working Days required</span>   
            </div>
            </div>

            <div class="col-md-4">
            <label for="">Working Hours</label>
            <input type="text"  class="form-control" id="hours" formControlName="hours" placeholder="Duration of Work in one day">
            <div *ngIf="formSubmitted && jobform.get('hours').hasError('required')">
                <span style="color:red">* Working Hours required</span>   
            </div>
            </div>

           
            <div class="col-md-4">
                <label for="">Qualification</label><br/>
                <mat-form-field appearance="fill" >
                    <mat-select [formControl]="qualification" multiple  >
                      <mat-select-trigger >
                        {{qualification.value ? qualification.value[0] : ''}}
                        <span *ngIf="qualification.value?.length > 1" class="example-additional-selection">
                          (+{{qualification.value.length - 1}} {{qualification.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                      </mat-select-trigger>
                      <mat-option *ngFor="let qualification of qualificationList" [value]="qualification" (click)="selected(qualification)">{{qualification}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                
            </div>

           
            <div class="col-md-4">
                <label for="">Experince</label>
                
                <input type="text"  class="form-control" id="experince" formControlName="experince" placeholder="Experince">
                <div *ngIf="formSubmitted && jobform.get('experince').hasError('required')">
                    <span style="color:red">* Experince required</span>   
                </div>
            </div>
            <div class="col-md-4">
                <label for="">Gender</label>
                <select  class="form-control" formControlName="gender">
                    <option value="Male">MALE</option>
                    <option value="Female">FEMALE</option>
                    <option value="Male/Female">MALE/FEMALE</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="">Level(Optional)</label>
                <select class="form-control" formControlName="">
                    <option value="">Junior Level</option>
                    <option value="">Senior Level</option>

                </select>
            </div>
            <div class="col-md-4">
                <label for="">Job Type</label>
                <select  class="form-control" formControlName="jobtype">
                    <option value="Part Time">Part Time</option>
                    <option value="Full Time">Full Time</option>
                   
                </select>
            </div>
           
            <div class="col-md-4">
                <label for="">Accomodation</label>
                <select  class="form-control" formControlName="accomodation">
                    <option value="Yes">Yes</option>
                    <option value="No" selected>No</option>
                    
                </select>
            </div>

            <div class="col-md-4">
            <label for="">Salary</label>
            <input type="text"  class="form-control" id="salary" formControlName="salary">
            <div *ngIf="formSubmitted && jobform.get('salary').hasError('required')">
                <span style="color:red">* Salary required</span>   
            </div>
            </div>
            <div class="col-md-4">
                <label for="">Salary Duration</label>
                <select class="form-control" formControlName="duration">
                    <option value="Monthly" selected>Monthly</option>
                    <option value="Anual">Yearly</option>

                    <div *ngIf="formSubmitted && jobform.get('duration').hasError('required')">
                        <span style="color:red">* Salary Duration required</span>   
                    </div>
                   
                </select>
            </div>
                <div class="col-md-4">
                    <label for="">Vacancy</label>
                    <input type="number"  class="form-control" id="vacancy" formControlName="vacancy">
                    
                    <div *ngIf="formSubmitted && jobform.get('vacancy').hasError('required')">
                        <span style="color:red">* Vacancys required</span>   
                    </div>
                 </div>
        </div>
        
        <h6>Additional Details</h6>
        <div class="row">
           
            
            <div class="col-md-4">
                <label for=""> HR Contact</label>
                <input type="text"  class="form-control" id="hrcontact" formControlName="hrcontact" placeholder="Enter 10 digit mobile number of HR">
                <div *ngIf="formSubmitted && jobform.get('hrcontact').hasError('required')">
                    <span style="color:red">*  HR Contact required field</span>   
                </div>
            </div>
            <div class="col-md-4">
                <label for="">Social Contact </label>
                <input type="text"  class="form-control" id="socialcontact" formControlName="socialcontact" placeholder="Share linkdn profile link">
                <div *ngIf="formSubmitted && jobform.get('socialcontact').hasError('required')">
                    <span style="color:red">* Social Contact required field</span>   
                </div>
            </div>
        </div>

        <h6>Hospital Details</h6>
        <div class="row">
            <div class="col-md-4">
            <label for="Name">Hospital List</label>
            <input type="text"  class="form-control" formControlName="hospitalname" placeholder="Hospital Name" required>
            </div>
        </div>
        
        
        

       
       

        

        
        <div class="submit_form">
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </div>

    </form>
</div>