<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Add Job</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li><a routerLink="/admin/home">Dashboard</a></li>

                    
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li><a routerLink="/admin/jobs/all-jobs">All Jobs</a></li>
                    <li><i class='bx bx-chevron-right'></i></li>


                    <li class="breadcrumb-item">Add Job</li>
                </ol>
            </div>
        </div>
        </div>
</div>


<div class="container card" >
    
    <form [formGroup]="jobform" (ngSubmit)="AddJobs()">
        <h6>Hospital Details</h6>
        <div class="row">
            <div class="col-md-4">
            <label for="Name">Hospital Name</label>
            <input type="text"  class="form-control" formControlName="hospitalname" placeholder="Hospital Name" required>
            </div>
          
            
            <div class="col-md-4">
                <label for="">Hospital Type</label>
                <select  class="form-control" formControlName="hospitaltype">
                    <option value="{{htype.hospitaltype}}" *ngFor="let htype of hospitaltypes">{{htype.hospitaltype}}</option>
                    
                </select>
            </div>
            
            <div class="col-md-4">
                <label for="formFileMultiple" class="form-label">Hospital Photo</label>
                <input class="form-control" type="file" multiple  (change)="imageupload($event)">
                          
            </div>

        
        </div>
        
        <div class="row">

            <div class="col-md-4">
                <label for="">Category / Blong To</label>
                <select  class="form-control" formControlName="category" (click)="categoryName($event)">
                    <option value="{{category.id}}"  *ngFor="let category of categories" >{{category.title}}</option>
                    
                </select>
            </div>



            <div class="col-md-4">
                <label for="">Speciality/Department</label>
                <select  class="form-control" formControlName="depatment">
                    <option value="{{dep.department}}" *ngFor="let dep of departments">{{dep.department}}</option>
                </select>
               <!-- <ng-template #elseDep>
                    <select  class="form-control">
                        <option>Update Soon</option>
                    </select>

                </ng-template>-->
            </div>
           
            <div class="col-md-4">
                <label for="">Designation</label>
                <select  class="form-control" formControlName="designation">
                    
                    <option value="{{dis.designation}}" *ngFor="let dis of designations">{{dis.designation}}</option>
                </select>
            </div>
            
           
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="">State</label>
                <select  class="form-control" formControlName="state" (click)="chooice($event)">
                    <option value="{{s.name}}" *ngFor="let s of allstate">{{s.name}}</option>
                    
                </select>
                
            </div>
           
            <div class="col-md-4">
                <label for="city">City</label>
                <input type="text" formControlName="city" class="form-control" *ngIf="cities.length==0;else elseBlock" placeholder="city">
                    
                <ng-template #elseBlock>
                    <select  class="form-control" formControlName="city">
                        <option value="{{city.name}}" *ngFor="let city of cities">{{city.name}}</option>
                       
                    </select>
                </ng-template>
               
            </div>
           

            <div class="col-md-4">
                <label for="">Active/Inactive</label>
                <select  class="form-control" formControlName="status">
                    <option value="true" >Active</option>
                    <option value="false" >InActive</option>
                    
                </select>
                
            </div>
        </div>
       
        <h6>Basic Details</h6>

        <div class="row">
            <div class="col-md-4">
            <label for="">Roles and Responsibilities</label>
            <input type="text"  class="form-control" formControlName="discription" placeholder="About jobs">

            

            </div>
            <div class="col-md-4">
            <label for="">Working Days </label>
            <input type="text"  class="form-control" formControlName="days" placeholder="Working days">

            </div>

            <div class="col-md-4">
            <label for="">Working Hours</label>
            <input type="text"  class="form-control" formControlName="hours" placeholder="Duration of Work in one day">

            </div>

            <div class="col-md-4">
                <label for="">Level</label>
                <select class="form-control" formControlName="">
                    <option value="">Junior Level</option>
                    <option value="">Senior Level</option>

                </select>
            </div>


        </div>
        <h6>Details</h6>
        
        <div class="row">
            
            

            <div class="col-md-4">
                <label for="">Qualification</label><br/>
                <mat-form-field appearance="fill" >
                    <mat-select [formControl]="qualification" multiple  >
                      <mat-select-trigger >
                        {{qualification.value ? qualification.value[0] : ''}}
                        <span *ngIf="qualification.value?.length > 1" class="example-additional-selection">
                          (+{{qualification.value.length - 1}} {{qualification.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                      </mat-select-trigger>
                      <mat-option *ngFor="let qualification of qualificationList" [value]="qualification" (click)="selected(qualification)">{{qualification}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                
            </div>

           
            <div class="col-md-4">
                <label for="">Experince</label>
                
                <input type="text"  class="form-control" formControlName="experince" placeholder="Experince">
                
            </div>
            <div class="col-md-4">
                <label for="">Gender</label>
                
                
                <select  class="form-control" formControlName="gender">
                    <option value="Male">MALE</option>
                    <option value="Female">FEMALE</option>
                    <option value="Male/Female">MALE/FEMALE</option>

                   
                </select>
            </div>
          
        </div>



        <div class="row">
            <div class="col-md-4">
                <label for="">Job Type</label>
                <select  class="form-control" formControlName="jobtype">
                    <option value="Part Time">Part Time</option>
                    <option value="Full Time">Full Time</option>
                   
                </select>
            </div>
           
            <div class="col-md-4">
                <label for="">Accomodation</label>
                <select  class="form-control" formControlName="accomodation">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    
                </select>
            </div>

            <div class="col-md-4">
            <label for="">Salary</label>
            <input type="text"  class="form-control" formControlName="salary">

            </div>


        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="">Salary Duration</label>
                <select class="form-control" formControlName="duration">
                    <option value="Monthly">Monthly</option>
                    <option value="Anual">Yearly</option>
                   
                </select>
            </div>
                <div class="col-md-4">
                    <label for="">Vacancy</label>
                    <input type="number"  class="form-control" formControlName="vacancy">
                 </div>
        
    
        </div>
        <h6>Additional Details</h6>
        <div class="row">
            <div class="col-md-4">
                <label for="">Total Beds</label>
                <input type="text"  class="form-control" formControlName="totalbed" placeholder="Total Bed in Hospital">
            </div>
            <div class="col-md-4">
                <label for="">ICU </label>
                <input type="text"  class="form-control" formControlName="icu" placeholder="Number of ICU">
            </div>
            <div class="col-md-4">
                <label for="">NICUC </label>
                <input type="text"  class="form-control" formControlName="nicuc" placeholder="Number of NICUC">
            </div>
            <div class="col-md-4">
                <label for="">PICU </label>
                <input type="text"  class="form-control" formControlName="picu" placeholder="Number of PICU">
            </div>
            <div class="col-md-4">
                <label for=""> HR Contact</label>
                <input type="text"  class="form-control" formControlName="hrcontact" placeholder="Enter 10 digit mobile number of HR">
            </div>
            <div class="col-md-4">
                <label for="">Social Contact </label>
                <input type="text"  class="form-control" formControlName="socialcontact" placeholder="Share linkdn profile link">
            </div>
        </div>

       
       

        

        
        <div class="submit_form">
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </div>

    </form>
</div>