<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Dashboard</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item">
                       Doctor Works</li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li class="breadcrumb-item">Dashboard</li>
                </ol>
            </div>
        </div>
        </div>
</div>


<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-heading p-2" routerLink="/gender/male">
                <div class="mini-stat-icon float-right">
                    <i class="bx bxs-user-circle bg-primary  text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">Users</h5>
                </div>
                <h3>{{count.user}}</h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3"routerLink="/gender/female">
        <div class="card">
            <div class="card-heading p-2">
                <div class="mini-stat-icon float-right">
                    <i class="bx bx-first-aid bg-success text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">All Jobs</h5>
                </div>
                <h3 >{{count.total_jobs}}</h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-heading p-2">
                <div class="mini-stat-icon float-right">
                    <i class="bx bx-category bg-info text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">Categories</h5>
                </div>
                <h3 >{{count.category}}</h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-heading p-2">
                <div class="mini-stat-icon float-right">
                    <i class="bx bx-user-check bg-success text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">Applied Jobs</h5>
                </div>
                <h3 >{{count.appliedjobs}}</h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-heading p-2">
                <div class="mini-stat-icon float-right">
                    <i class="bx bxs-bookmarks bg-primary text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">Saved Jobs</h5>
                </div>
                <h3 >{{count.savejobs}}</h3>

            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-heading p-2">
                <div class="mini-stat-icon float-right">
                    <i class="bx bx-share-alt bg-secondary text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">Shared Jobs</h5>
                </div>
                <h3 >pending...</h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-heading p-2">
                <div class="mini-stat-icon float-right">
                    <i class="bx bx-briefcase bg-warning text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">All Cases</h5>
                </div>
                <h3 >{{count.case}}</h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-heading p-2">
                <div class="mini-stat-icon float-right">
                    <i class="bx bxs-news bg-danger text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">All News</h5>
                </div>
                <h3 >{{count.news}}</h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-heading p-2">
                <div class="mini-stat-icon float-right">
                    <i class="bx bx-book-open bg-primary text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">All Articles</h5>
                </div>
                <h3 >{{count.artical}}</h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-heading p-2">
                <div class="mini-stat-icon float-right">
                    <i class="bx bx-poll bg-success text-white"></i>
                </div>
                <div>
                    <h5 class="font-16">All Polls</h5>
                </div>
                <h3 >{{count.poll}}</h3>

            </div>
        </div>
    </div>
</div>



