<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Applied Jobs</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li><a routerLink="/admin/dashboard">Dashboard</a></li>


                    <li><i class='bx bx-chevron-right'></i></li>
                    <li class="breadcrumb-item">Applied Jobs</li>
                </ol>
            </div>

        </div>

        </div>
</div>


    <div class="row">



        <div class="col-xl-12">


            <div class="card m-b-30 m-t-30">
                <div class="card-body">
                    <h4 class="mt-0 header-title mb-4"> 27 Jobs found</h4>
                    <div class="table-responsive ">
                        <table class="table table-hover advanced-web-table">
                            <thead>
                                <tr>
                                  <th scope="col">Id No.</th>
                                  <th scope="col">Job Id</th>
                                    <th scope="col">Hospital Name</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Designation</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">View</th>
                                    <th scope="col">Applied Jobs</th>
                                    <th scope="col">Saved Jobs</th>
                                    <th scope="col">Likes</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let job of appliedjobs  | paginate : { id: 'foo',
                                      itemsPerPage: pageSize,
                                      currentPage: currentPage,
                                      totalItems: appliedjobs.length};let i=index">
                                  <td class="dtr-control">{{(currentPage - 1) * pageSize + i + 1}}</td>
                                    <td>{{job.id}}</td>
                                    <td>{{job.hosptial_name}}</td>
                                    <td>{{job.Speciality}}</td>
                                    <td>{{job.designation}}</td>
                                    <td>{{job.location}}</td>
                                    <td>
                                        <a routerLink="/admin/jobs/view-job/{{job.id}}" class="action-btn"><i class="bx bx-show"></i></a>
                                    </td>
                                    <td>{{job.applicant}} <i class="bx bx-user-check"></i></td>
                                    <td>{{job.bookmark}} <i class="bx bx-bookmarks text-primary"></i> </td>
                                    <td>{{job.likes}} <i class="bx bx-heart text-danger"></i></td>



                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <nav aria-label="Page navigation example">

              <div class="my-2 text-right">
                <pagination-controls  id="foo" (pageChange)="currentPage = $event"></pagination-controls>

            </div>

              </nav>

        </div>

    </div>
