<div class="left side-menu">
  <div class="slimscroll-menu" id="remove-scroll">
      <!--- Sidemenu -->
      <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu" id="side-menu">
              <li class="menu-title">Menu</li>
              <li>
                  <a routerLink="/admin/home" class="waves-effect">
                   <i class='bx bxs-dashboard'></i> <span> Dashboard </span>
                  </a>
              </li>
              <li>
                <a routerLink="/admin/profile/users" class="waves-effect">
                 <i class='bx bx-user'></i> <span> Users </span>
                </a>
            </li>
              <li>
                <a routerLink="/admin/category" class="waves-effect">
                 <i class='bx bx-category'></i> <span> Category </span>
                </a>
            </li>

              <li>
                <a routerLink="#" class="waves-effect">
                  <i class='bx bx-first-aid'></i> <span> Jobs </span><span class="float-right menu-arrow"><i class='bx bxs-chevron-right'></i></span>
                </a>
                <ul class="submenu">
                  <li><a routerLink="/admin/jobs/all-jobs">All Jobs</a></li>
                  <li><a routerLink="jobs/applied-jobs">Applied Jobs</a></li>
                  <li><a routerLink="jobs/deleted-jobs">Deleted Jobs</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="waves-effect">
                  <i class='bx bx-repost'></i> <span> Post </span><span class="float-right menu-arrow"><i class='bx bxs-chevron-right'></i></span>
                </a>
                <ul class="submenu">
                  <li><a routerLink="post/cases">Cases</a></li>
                  <li><a routerLink="post/articles">Articles</a></li>
                  <li><a routerLink="post/polls">Polls</a></li>
                  <li><a routerLink="post/pg-neet">PG-NEET</a></li>

                </ul>
              </li>

              <li>
                <a href="#" class="waves-effect">
                  <i class='bx bxs-news'></i> <span> News </span><span class="float-right menu-arrow"><i class='bx bxs-chevron-right'></i></span>
                </a>
                <ul class="submenu">
                  <li><a routerLink="news/posted-news">Posted News</a></li>
                  <li><a routerLink="news/news-pages">News Pages</a></li>
                  <li><a routerLink="news/reported-news">Reported News</a></li>
                </ul>
              </li>

          </ul>
      </div>
      <!-- Sidebar -->
      <div class="clearfix"></div>
  </div>
  <!-- Sidebar -left -->
</div>
