<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Add Case</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li><a routerLink="/dashboard">Dashboard</a></li>

                    
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li><a routerLink="/post/cases">Cases</a></li>
                    <li><i class='bx bx-chevron-right'></i></li>


                    <li class="breadcrumb-item">Add Case</li>
                </ol>
            </div>
        </div>
        </div>
</div>


<div class="container card" >
    
    <form>
        <h6>Case Details</h6>
        <div class="row">
            <div class="col-md-6">
            <label for="Name">Case Title</label>
            <input type="text"  class="form-control">
            </div>
          
            <div class="col-md-6">
                <label for="">Image</label>
               <input type="file" class="form-control" multiple>
            </div>
          
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="">Chief Complaint</label>
                <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
            </div>
        </div>

        <h6>Patient History</h6>
        <div class="row">
        <div class="col-md-4">
            <label for="">Present Illiness</label>
            <input type="text"  class="form-control">
        </div>
         <div class="col-md-4">
            <label for="">Past Illiness</label>
            <input type="text"  class="form-control">
         </div>
         <div class="col-md-4">
            <label for="">Drugs</label>
            <input type="text"  class="form-control">
         </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="">Personal </label>
                <input type="text"  class="form-control">
            </div>
             <div class="col-md-4">
                <label for="">Family</label>
                <input type="text"  class="form-control">
             </div>
            
     </div>
      
     <h6>Patient Examination</h6>
     <div class="row">
        <div class="col-md-4">
            <label for="">Physical Examination</label>
            <input type="text"  class="form-control">
        </div>
         <div class="col-md-4">
            <label for="">System Examination</label>
            <input type="text"  class="form-control">
         </div>
         <div class="col-md-4">
            <label for="">Local Examination</label>
            <input type="text"  class="form-control">
         </div>
        </div>

        <h6>Investigation</h6>
     <div class="row">
        <div class="col-md-4">
            <label for="">Vital</label>
            <input type="text"  class="form-control">
        </div>
         <div class="col-md-4">
            <label for="">Lab Finding</label>
            <input type="text"  class="form-control">
         </div>
         <div class="col-md-4">
            <label for="">Imaging</label>
            <input type="text"  class="form-control">
         </div>
        </div>

        <h6>Probable Diagnosis</h6>
        <div class="row">
        <div class="col-md-4">
            <label for="">Imaging</label>
            <input type="text"  class="form-control">
        </div>
        </div>
       
       

        

        
        <div class="submit_form">
            <button class="btn btn-primary">Submit</button>
        </div>

      </form>
</div>