input:focus,
textarea:focus,
select:focus {
  border: 1px solid #4f46e5;
}

.action-btn i {
  font-size: 18px;
  padding-right: 20px;
}
.bx-chevron-right {
  font-size: 10px;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
}

form h6 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4f46e5;
}

.submit_form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
