<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Users</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li><a routerLink="/admin/home">Dashboard</a></li>


                    <li><i class='bx bx-chevron-right'></i></li>
                    <li class="breadcrumb-item">Users</li>
                </ol>
            </div>
        </div>
        </div>
</div>


    <div class="row">
        <div class="col-xl-12">
            <div class="card m-b-30 m-t-30">
                <div class="card-body">
                    <h4 class="mt-0 header-title mb-4"> 27 Users found</h4>
                    <div class="table-responsive ">
                        <table class="table table-hover advanced-web-table">
                            <thead>
                                <tr>
                                  
                                  <th scope="col">UserId.</th>
                                    <th scope="col">Username</th>

                                    <th scope="col">Mobile No.</th>
                                    <th scope="col">Applied Jobs</th>

                                    <th scope="col">Status</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users  | paginate : { id: 'foo',
                                              itemsPerPage: pageSize,
                                              currentPage: currentPage,
                                              totalItems: users.length};let i=index">
                                   
                                    <td>{{user.userdetail}}</td>
                                    <td>{{user.profile_name}}</td>

                                    <td>{{user.phone_number}}</td>
                                    <td>{{user.appliedjobs}}</td>

                                    <td *ngIf="user.status==false; else elseBlock"><span class="badge badge-danger">skip login</span></td>
                                    <ng-template #elseBlock><td><span class="badge badge-success">Active</span></td></ng-template>
                                    <td>
                                        <div *ngIf="user.image==null;else elseImage ">
                                            <img src="/assets/images/user-1.png" alt="" class="thumb-md rounded-circle mr-2">
                                        </div>
                                        <ng-template #elseImage>

                                            <div >
                                                <img src="{{image_url}}{{user.image}}" alt="" class="thumb-md rounded-circle mr-2">
                                            </div>

                                        </ng-template>

                                    </td>
                                    <td>
                                       <a routerLink="/admin/profile/view-user/{{user.userdetail}}" class="action-btn">
                                        <i class='bx bx-show'></i>
                                       </a>

                                       <a routerLink="" class="action-btn">
                                        <i class='bx bx-edit'></i>
                                       </a>
                                       <a routerLink="#" (click)="Delete(user.userdetail)" class="action-btn">
                                        <i class='bx bx-block text-danger'></i>
                                       </a>
                                        <div>



                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <pagination-controls  id="foo" (pageChange)="currentPage = $event"></pagination-controls>

            </div>

            <nav aria-label="Page navigation example">

              <div class="my-2 text-right">
                <!-- <pagination-controls></pagination-controls> -->
            </div>

              </nav>

        </div>

    </div>
