<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Add Hospital</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li><a routerLink="/admin/home">Dashboard</a></li>

                    
                    
                    <li><i class='bx bx-chevron-right'></i></li>


                    <li class="breadcrumb-item">Add Hospital</li>
                </ol>
            </div>
        </div>
        </div>
</div>


<div class="container">
    <!--Hospital Information-->

    <form [formGroup]="hospitalinfoform" (ngSubmit)="onSubmit()" class="card">
        <div class="row">
            <div class="col-md-4">
                <label for="Name">Hospital Name</label>
                <input type="text"  class="form-control" formControlName="name" placeholder="Hospital Name" >
               <div *ngIf=" status && hospitalinfoform.get('name').hasError('required')">
                   <span style="color :red">*Hospital name is required</span>
                </div>   
            </div>
              
                
                <div class="col-md-4">
                    <label for="">Hospital Type</label>
                    <select  class="form-control" formControlName="typeofhospital" placeholder="Hospital type">
                        <option value="{{h.hospitaltype}}" *ngFor="let h of hospitaltypes" >{{h.hospitaltype}}</option>
                        
                    </select>
                  
                </div>
              <div class="col-md-4">
                  <label for="">No. of Speciality</label>
                  <input type="number" class="form-control" formControlName="no_of_sepeciality" placeholder="Number of Speciality available">
                  <div *ngIf=" status && hospitalinfoform.get('no_of_sepeciality').hasError('required')">
                    <span style="color :red">*Number of speciality is required</span>

                 </div>
              </div>
              <div class="col-md-4">
                  <label for="">No. of Beds</label>
                  <input type="text" class="form-control" formControlName="no_of_bed" placeholder="Number of Bed available">
                  <div *ngIf=" status && hospitalinfoform.get('no_of_bed').hasError('required')">
                    <span style="color :red">*Number of bed is required</span>

                 </div>
              </div>
              <div class="col-md-4">
                  <label for="">No. of OPD Patients</label>
                  <input type="text" class="form-control" formControlName="daily_OPD" placeholder="Number of OPD Patient">
                  <div *ngIf=" status && hospitalinfoform.get('daily_OPD').hasError('required')">
                        <span style="color :red">*Daily OPD is required</span>

                    </div>
              </div>
              <div class="col-md-4">
                  <label for="">No of OT</label>
                  <input type="text" class="form-control" formControlName="no_of_OT" placeholder="Number of OT">
                  <div *ngIf=" status && hospitalinfoform.get('no_of_OT').hasError('required')">
                    <span style="color :red">*OT is required</span>

                </div>
              </div>
              <div class="col-md-4">
                <label for="">ICU </label>
                <input type="text"  class="form-control" formControlName="icu" placeholder="Number of ICU">
                <div *ngIf=" status && hospitalinfoform.get('icu').hasError('required')">
                    <span style="color :red">*ICU is required</span>

                </div>
            
            </div>
            <div class="col-md-4">
                <label for="">NICUC </label>
                <input type="text"  class="form-control" formControlName="nicuc" placeholder="Number of NICUC">
                <div *ngIf=" status && hospitalinfoform.get('nicuc').hasError('required')">
                    <span style="color :red">*NICUC is required</span>

                </div>
            
            </div>
            <div class="col-md-4">
                <label for="">PICU </label>
                <input type="text"  class="form-control" formControlName="picu" placeholder="Number of PICU">
                <div *ngIf=" status && hospitalinfoform.get('picu').hasError('required')">
                    <span style="color :red">*PICU is required</span>

                </div>
            </div>
            <div class="col-md-4">
                <label for="">State</label>
                <select  class="form-control" formControlName="state" (change)="selectstate($event)">
                    <option value="{{s.name}}" *ngFor="let s of states">{{s.name}}</option>
                    <div *ngIf=" status && hospitalinfoform.get('state').hasError('required')">
                        <span style="color :red">* Select State </span>

                    </div>
                    
                </select>
                
            </div>
           
            <div class="col-md-4">
                <label for="city">City</label>
               
                <select  class="form-control" formControlName="location">
                    <option value="{{c.name}}" *ngFor="let c of cities">{{c.name}}</option>
                    
                </select> 
            </div>
           
          </div>
          <div class="submit_form">
              <button class="btn btn-success">Submit</button>
          </div>
     </form>

    <!--*****-----*****-->




    <!--Hospital Photos and Videos-->
    <form [formGroup]="hospitaltourimg" (ngSubmit)="ImageUploadSumit()" class="card">
        <h6>Hospital Photos and Videos</h6>
        <div class="row" style="display: flex;">
            <div class="col-md-8">
                <input type="file" class="form-control" name="image" formControlName="himage"  (change)="imageupload($event)" multiple>

            </div>
            <div class="col-md-4">
                <input type="submit" class="btn btn-success" name="submit" value="Submit" >
            </div>
        </div>
          <!--show hospital tour image-->
                    <div class="row">
                        <div class="highlights" *ngFor ="let img of hospitaltourimage" >
                        <img src="{{image_url}}{{img.image}}" alt="image"/>
                            <div class="highlight-action">  
                            <button class="remove" (click)="deletehospitaltourimage(img.id)">Image Remove</button>
                            </div>
                        </div>
                    </div>
       <!--this is for hospital highlight-->
     </form>
    <!--*****-----*****-->


    <!--Hospital Highlight-->
     <form [formGroup]="hospitalhighlight" (ngSubmit)="highlightupload()" class="card">
         <div class="row">
             <div class="col-md-3">
                <button class="btn btn-primary" data-toggle="modal" data-target="#addHighlightModal">Add Highlights</button>
             </div>
         </div>

         <!--Add Highlight Form-->
        <div class="modal fade" id="addHighlightModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Highlight</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <div class="modal-body">
                  <label> Title</label>
                  <input type="text" class="form-control" formControlName="title">
                  <label>Upload Image</label>
                  <input type="file" class="form-control" formControlName="highlightimage" (change)="highlightimg($event)" >
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit"   class="btn btn-primary" value="Hospital Highlight"/>
                </div>
             
              </div>
            </div>
        </div>
         <!--Add Highlight Form Over-->

        <div class="row">
            <div class="highlights" *ngFor="let hlight of hospital_h_lights" >
                <img src="{{image_url}}{{hlight.image}}" alt="image">
                <div class="highlight-action">
                    <div class="highlight-title"></div>
                   <button class="remove" (click)=hospitalhighdelete(hlight.id)> Remove</button>
                  
                </div>
            </div>
        </div>
      </form>
    <!--*****-----*****-->
    
      
<!--Add Speciality Form-->
       <form [formGroup]="Speciality" (ngSubmit)="Hospitalspiciality()" class="card" >
           <div class="row">
            <div class="col-md-3">
                <button class="btn btn-primary" data-toggle="modal" data-target="#addSpecialityModal">Add Speciality</button>
           </div>
           </div>
          

        <div class="modal fade" id="addSpecialityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Speciality</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              
                <div class="modal-body">
                  <label> Title</label>
                  <input type="text" class="form-control" formControlName="title">
                  <label>Upload Image</label>
                  <input type="file" class="form-control" formControlName="image" (change)="hospitalSpecialityImage($event)">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" name="submit"  class="btn btn-primary" value="Hospital Speciality"/>
                </div>
              
              </div>
            </div>
        </div>

        <div class="row">
            <div class="highlights" *ngFor="let sp of Specialityget">
                <img src="{{image_url}}{{sp.image}}" alt="">
                <div class="highlight-action">
                    <div class="highlight-title"></div>
                   <button class="remove" routerLink="/admin/hospital/speciality/"> Remove</button>
                </div>
            </div>
        </div>
    </form>
 <!--*****-----*****-->   

        

       
       
    
       
       
      

        
       
      



      
       
   

